flows/Mytestflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>FeedItem</name>
        <label>FeedItem</label>
        <locationX>464</locationX>
        <locationY>134</locationY>
        <apexClass>flowChat</apexClass>
        <connector>
            <targetReference>Recordcreate</targetReference>
        </connector>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assignvalue</name>
        <label>Assignvalue</label>
        <locationX>591</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>isrender</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recordcreate</targetReference>
        </connector>
    </assignments>
    <label>Mytestflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Recordcreate</name>
        <label>Recordcreate</label>
        <locationX>310</locationX>
        <locationY>271</locationY>
        <assignRecordIdToReference>Recordid</assignRecordIdToReference>
        <connector>
            <targetReference>Record_is_successfull</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>Account_Creation</name>
        <label>Account Creation</label>
        <locationX>248</locationX>
        <locationY>81</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FeedItem</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <dataType>String</dataType>
            <fieldText>AccountName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>B</name>
            <dataType>String</dataType>
            <fieldText>B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_is_successfull</name>
        <label>Record is successfull</label>
        <locationX>429</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sttaus</name>
            <fieldText>Record is created with :{!Recordid} and rendering :{!isrender}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subjectw</name>
            <fieldText>{!subject}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Account_Creation</startElementReference>
    <status>Active</status>
    <variables>
        <name>isrender</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
